.wrapper {
  position: relative;
  white-space: nowrap;
  line-height: normal;
}

.shade {
  font-family: var(--font-bungee-shade);
  color: var(--color-accent);
  position: absolute;
}

.fill {
  font-family: var(--font-bungee);
  color: var(--color-white);
  position: absolute;
  transform: translateX(-50%);
}
